.HeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
    height: 20.75rem;
    width: 100%;
    background-image: url('/contador.png');
}

.Image{
    background: rgba(8, 159, 9, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
    height: 20.75rem;
    width: 100%;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .menuSamduba {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin-right: 5px;
  }
  
  .HeaderSearch {
    display: flex;
    width: 100%;
  }
  
  .HeaderTextContainer {
    width: 50%;
    display: flex;
  }

  .HeaderImage{
    padding:0 2.5rem;
  }
  
  .HeaderTextDescription {
    font-family: "Outfit";
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    margin-top: 20px;
    padding: 0 2.5rem;
  }

  .logo{
    width: 12rem;
    height: 6rem;
  }

  .Title{
    font-family: Outfit;
    font-size: 32px;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;

  }
  
  .HeaderContainerIcons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }
  
  .HeaderIcon {
    margin-left: 16px;
  }
  
  .Close {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .NewBudget {
    color: #ffffff;
    font-size: 20px;
    font-weight: medium;
    font-family: "Outfit", sans-serif;
  }
  
  @media (min-width: 768px) {
    .menuSamduba {
      display: none !important;
    }
  }
  @media (max-width: 768px) {
    .HeaderTextContainer {
      width: 100%;
      display: flex;
      margin-top: 10px;
  
      p {
        text-align: start;
      }
    }
    .HeaderTextTitle {
      margin-left: 45px;
      width: 50%;
      text-align: center;
    }
    #HeaderIcon {
      display: none;
      width: 1290192811px;
    }
  }