.Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 1264px;
 }
  
  .ImageContainer {
    width: 700px;
    height: 1264px;
    border-radius: 0px 60px 60px 0px;
    background-image: url("/homem.png");
    background-color: rgba(8, 212, 10, 0.17);
  }
  
  .LoginContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    min-height: 100vh;
    
  }
  
  .Login {
    display: flex;
    flex-direction: column;
    width: 531px;
    margin-top: 4rem;
  }
  
  
  .logo {
    width: 235px;
    height: 74px;
    top: 40px;
    left: 48px;
    
  }
  
 
  
  .title {
    font-family: "Outfit", sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #000;
    width: 347px;
    height: 22px;
    top: 103px;
    margin-bottom: 32px;

  }
  
  .label {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: medium;
    color: rgba(153, 153, 153, 1);
    margin-bottom: 6px;
    margin-top: 12px;
  }
  
  .field {
    width: 528px;
    height: 65px;
    padding-left: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f6f7fa;
    border-radius: 10px;
    border: solid 1px;
    border-color: #4040492d;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(177, 177, 177, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .button {
    width: 528px;
    height: 79px;
    margin-top: 8rem;
    border-radius: 20px;
    background: rgba(8, 212, 10, 1);
    border: 0;
    color: #fff;
    font-family: Outfit;
    font-size: 20px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);



  }
  
  
  .linha {
    border: none;
    height: 1.1px;
    background-color: rgba(177, 177, 177, 1);
    margin-top: 26px;

    
  }

  .logo2{
    width: 235px;
    height: 74px;
    margin-top: 4rem;
    margin: 8rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);   
    display: flex;
    justify-content: center;
    align-items: center;
    

  }

  .value{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .valuePrice{
    font-family: Outfit;
    font-size: 26px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
    color: #121212;
  }

  
  
  @media (max-width: 768px) {
    .Container {
      flex-direction: column-reverse;
    }
    .ImageContainer {
      width: 100%;
    }
    .LoginContainer {
      width: 100%;
      height: 700px;
  
      .Login {
        margin: 0 auto;
        width: 80%;
  
        input {
          width: 85%;
        }
      }
      .button {
        width: 85%;
      }
    }
  }


