.Container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #ffffffff;
  }
  
  .MainContainer {
    flex: 1;
    padding: 0px 24px;
    margin-top: -6rem;
    justify-content: center;
  }
  
  .ListContainer {
    display: flex;
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 15px 20px;
    flex-direction: column;
  }
  
  .ListMenu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .MarginTop {
    margin-top: 16px;
  }
  
  .ListMenuRight {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  
  .ListMenuButton {
    background: #0bb07b;
    border-radius: 6px;
    height: 39px;
    width: 135px;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .ListMenuFilter {
    width: 99px;
    height: 48px;
    border: 1px solid #c6c2de;
    border-radius: 6px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .ListMenuFilterText {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #404049;
    margin-left: 8px;
  }
  
  .CardsMenus {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .CardMenu {
    height: 212px;
    width: 276px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }
  
  .CardMenuText {
    font-family: "DM Sans";
    font-size: 1rem;
    color: #404049;
    text-transform: uppercase;
    margin-top: 23px;
    font-weight: 500;
  }
  
  .OrderContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .OrderDataContainer {
    margin-left: 1.5rem;
    margin-top: 4rem;
  }
  
  .BudgetContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .BudgetHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }
  
  .BudgetHeadS {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
  }
  
  .BudgetHeadO {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .BudgetData {
    display: flex;
    flex-direction: row;
    gap: 7rem;
  }
  
  .BudgetTitle {
    font-family: "Outfit", sans-serif;
    font-size: 26px;
    color: #000000;
    font-weight: medium;
  }
  
  .BudgetSubTitle {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: medium;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .TotalValue {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Value {
    font-family: "Outfit", sans-serif;
    font-size: 26px;
    color: #000000;
    font-weight: medium;
  }
  
  .ButtonsFinish {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  
  .FinishButton {
    color: #fff;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: medium;
    width: 23em;
    height: 2.7rem;
    border-radius: 5px;
    background-color: #0bb07b;
    border: none;
    cursor: pointer;
  }
  
  .SaveButton {
    color: #fff;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: medium;
    width: 16.25rem;
    height: 2.7rem;
    border-radius: 5px;
    background-color: #0bb07b;
    border: none;
    cursor: pointer;
  }
  
  .CancelButton {
    color: #60616c;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: medium;
    width: 6.25rem;
    height: 2.7rem;
    border-radius: 5px;
    background-color: #f6f5f7;
    border: none;
    cursor: pointer;
  }
  
  .Notes {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #222222;
    margin-bottom: 2.5rem;
  }
  
  .InputContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .InputField {
    display: flex;
    flex-direction: column;
    margin-right: 2.5rem;
    gap: 1rem;
  }
  
  .InputFieldPreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .FieldLabel {
    font-size: 14px;
    font-weight: medium;
    font-family: "Outfit", sans-serif;
    color: #404049;
    margin-bottom: -0.5rem;
  }
  
  .Field {
    width: 17.5rem;
    height: 2.5rem;
    padding: 1rem;
    background-color: #f6f7fa;
    border-radius: 5px;
    border: solid 1px;
    border-color: #4040492d;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #404049;
  }
  
  .FieldSave {
    width: 26rem;
    height: 2.5rem;
    padding: 1rem;
    background-color: #f6f7fa;
    border-radius: 5px;
    border: solid 1px;
    border-color: #4040492d;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #404049;
  }
  
  .FieldSmall {
    width: 8rem;
    height: 2.5rem;
    padding: 1rem;
    background-color: #f6f7fa;
    border-radius: 5px;
    border: solid 1px;
    border-color: #4040492d;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #404049;
  }
  
  .FixedValue {
    padding-left: 1rem;
    padding-right: 12.5rem;
    padding-bottom: 0.55rem;
    padding-top: 0.55rem;
    background-color: #f6f7fa;
    border-radius: 5px;
    border: solid 1px;
    border-color: #4040492d;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #404049;
  }
  
  .FieldPreview {
    width: 7.5rem;
    height: 2.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f6f7fa;
    border-radius: 5px;
    border-color: #4040492d;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #404049;
  }
  
  .SelectField {
    width: 17.5rem;
    height: 2.5rem;
    padding-left: 1rem;
    background-color: #f6f7fa;
    border-radius: 5px;
    border-color: #4040492d;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #404049;
  }
  
  .SelectFieldPerson {
    width: 26rem;
    height: 2.5rem;
    padding-left: 1rem;
    background-color: #f6f7fa;
    border-radius: 5px;
    border-color: #4040492d;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #404049;
  }
  
  .Preview {
    font-size: 14px;
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    color: #404049;
    margin-bottom: 0.5rem;
  }
  
  .PreviewContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  
  .PrintContainer {
    display: flex;
    flex-direction: column;
    width: 35rem;
    justify-content: flex-start;
    align-items: center;
    border: dashed 2px #888990;
    border-radius: 10px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    gap: 1rem;
  }
  
  .FileSelected {
    display: flex;
    flex-direction: column;
    width: 35rem;
    justify-content: flex-start;
    align-items: center;
    border: solid 2px #888990;
    border-radius: 10px;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 1rem;
  }
  
  .PreviewImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .PreviewSize {
    font-size: 16px;
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    color: #404049;
    margin-bottom: 1rem;
  }
  
  .PreviewImg {
    width: 285px;
    height: 383px;
    margin-bottom: 1rem;
  }
  
  .Copy {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #404049;
  }
  
  .Copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .linhaSave {
    border: none;
    height: 1px;
    background-color: #ececf0;
    margin-top: 3rem;
    margin-bottom: 24px;
  }
  
  .linhaOrder {
    border: none;
    height: 1px;
    background-color: #ececf0;
    margin-top: -1rem;
    margin-bottom: 24px;
  }
  
  .linhaData {
    border: none;
    width: 1px;
    height: 36rem;
    background-color: #ececf0;
    margin-top: 3rem;
    margin-bottom: 24px;
  }
  
  .Upload {
    width: 34px;
    height: 34px;
  }
  
  .LabelUpload {
    font-size: 14px;
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    color: #404049;
  }
  
  .UploadButton {
    color: #0bb07b;
    border: solid 2px;
    border-color: #0bb07b;
    background-color: #fff;
    width: 20rem;
    height: 2rem;
    font-size: 14px;
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .UploadInfo {
    font-size: 12px;
    font-weight: medium;
    font-family: "Outfit", sans-serif;
    color: #888990;
  }
  
  .FileInfo {
    font-size: 12px;
    font-weight: medium;
    font-family: "Outfit", sans-serif;
    color: #3c3c3c;
  }
  
  .FileSelected {
    display: flex;
    flex-direction: row;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .FileSelectedName {
    width: 26.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .FileSelectedBar {
    border: none;
    height: 5px;
    background-color: #0bb07b;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .FileImg {
    width: 28px;
    height: 32px;
  }
  
  .FileDelete {
    width: 25px;
    height: 24px;
    cursor: pointer;
  }
  
  .Nav {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
  }
  
  .NavItem {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #bab9be;
  }
  
  .NavItem.active {
    font-weight: 600;
    color: #7c0000;
    margin-bottom: 14px;
  }
  
  .NavItemBar {
    border: none;
    height: 3px;
    background-color: #7c0000;
    margin-bottom: -8px;
  }
  
  .OrderValue {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #7c0000;
    margin-right: 2rem;
    margin-left: -1.5rem;
  }
  
  .OrderTotalValue {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    margin-right: 2rem;
    margin-left: -1.5rem;
  }
  
  .containerFilter {
    z-index: 999;
    width: 225px;
    height: 310px;
    position: absolute;
  
    margin-top: 48px;
    background: #ffffff;
    /* mid-blue */
  
    border: 1px solid #dee2ed;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
  }
  
  .listFilter {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
  
    .sublinado {
      width: 204px;
      height: 1px;
      left: 10px;
      top: 180px;
      margin: 9px 0px 10px 0px;
  
      /* mid-blue */
  
      background: #dee2ed;
    }
  
    h2 {
      width: 100%;
      height: 16px;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #888990;
    }
  }
  
  .listFilter div {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    text-align: start;
    width: 100%;
    height: 18px;
    border: none;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    margin: 5px 0px;
  
    color: #404049;
  }
  
  .listFilter div>input[type="radio"]:checked {
    accent-color: red;
  }
  
  .containerFilterClose {
    display: none;
  }
  
  .maisNone {
    display: none;
  }
  
  @media (max-width: 768px) {
    .Container {
      height: 100%;
      padding-bottom: 25rem;
    }
  
    .Copy {
      padding-top: 3rem;
    }
  
    .ListMenuFilterText {
      display: none !important;
    }
  
    .maisNoneMobile {
      display: none !important;
    }
  
    .maisNone {
      display: flex;
  
      font-size: 18px;
    }
  
    .ListMenuButton {
      width: 30px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .ListMenuFilter {
      width: 40px;
      height: 35px;
  
      img {
        width: 15px;
        height: 15px;
      }
    }
  }
  
  .filterItem {
    cursor: pointer;
  }
  
  .ContainerDIV {
    background-color: #ee15c7;
  }

